[Unit]
Description=Simple WireGuard Proxy Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/swgp-go -confPath /etc/swgp-go/%i.json -logNoColor -logNoTime

[Install]
WantedBy=multi-user.target
